html {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  user-select: none;
  margin: 0;
}

button {
  border: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
